# Netlify configuration for PR previews - this is NOT for the live site! That uses GH actions
[build]
  publish = "docs/_build/html"
  environment = { PYTHON_VERSION = "3.12" }
  command = """
    pip install nox && \
    python -m nox -s docs
  """

# Keep all deploy contexts out of search indexing because we use github actions for the live site
[[headers]]
  for = "/*"
  [headers.values]
    X-Robots-Tag = "noindex, nofollow"
