# Netlify configuration for PR previews - this is NOT for the live site! That uses GH actions
[build]
  publish = "docs/_build/html"
  environment = { PYTHON_VERSION = "3.12" }
  # We do not test the release notes download because it depends on `gh`, and we don't have auth in netlify
  command = """
    pip install pyyaml && \
    python src/download_nav_items.py && \
    npm install -g mystmd@latest && \
    cd docs && myst build --html -d
  """

# Keep all deploy contexts out of search indexing because we use github actions for the live site
[[headers]]
  for = "/*"
  [headers.values]
    X-Robots-Tag = "noindex, nofollow"
